{% extends "base.html" %}
{% load static %}


{% block title%}Search{% endblock title %}


{% block content %}

<body>



  <!-- Header -->
  <div style="background-color: black; height: fit-content; flex-direction: column;"
    class="flex border-b  sticky top-0 bg-white dark:bg-dim-900 border-l border-r border-gray-200 dark:border-gray-700">



    <div class="profile__header border-l border-r border-gray-200 dark:border-gray-700" style="background-color: black; ">
      <a href="/" style="color: white;"><i class="fas fa-arrow-left"></i></a>

      <div class="profile__header__container">
        <h2 style="text-transform: capitalize; color: white; margin-bottom: 10px;">Search</h2>
      </div>
    </div>



              <!-- Search -->
              <div class="relative m-2">
                <form action="/search" method="POST">
                  {% csrf_token %}
                  <div class="absolute text-gray-600 flex items-center pl-4 h-full cursor-pointer">
    
                    <button type="submit">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="18"
                        height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path
                          d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                        </path>
                      </svg>
                    </button>
    
    
                  </div>
                  <input style="background-color: #202327; border: 0;" name="username"
                    class="w-full bg-gray-200 dark:bg-dim-400 border-gray-200  text-gray-100 focus:bg-gray-100 dark:focus:bg-dim-900 focus:outline-none focus:border focus:border-blue-200 font-normal h-9 flex items-center pl-12 text-sm rounded-full border shadow"
                    placeholder="Search Users" />
    
                </form>
              </div>
              <!-- /Search -->




    {% for users in username_profile_list %}
    <!-- Twitter Account -->
    <div
      class="text-blue-400 text-sm font-normal p-3 border-b border-gray-200 dark:border-dim-200 hover:bg-gray-100 dark:hover:bg-dim-300 cursor-pointer transition duration-350 ease-in-out">










        <div class="flex flex-row justify-between p-2">
          <div class="flex flex-row">



            {% if users.profileimg %}
            <img class="w-10 h-10 rounded-full" src="{{users.profileimg.url}}" />
            {% else %}
            
            <img class="w-10 h-10 rounded-full" src="{% static 'images/default-profile.jpg' %}" />
            {% endif %}




            <div class="flex flex-col ml-2">
              <a href="/profile/{{users.user}}">
                <h1 class="text-gray-900 dark:text-white font-bold text-sm" style="text-transform: capitalize;">
                  {{users.name}}
                </h1>
              </a>
              <a href="/profile/{{users.user}}">
                <p class="text-gray-400 text-sm">@{{users.user}}</p>
              </a>
            </div>
          </div>
          <div class="">
            <div class="flex items-center h-full text-gray-800 dark:text-white">
              <a href="/profile/{{users.user}}"
                class="text-xs font-bold text-blue-400 px-4 py-1 rounded-full border-2 border-blue-400">

                View Profile
            </a>
            </div>
          </div>
        </div>


    </div>
    <!-- /Twitter Account -->
    {% endfor %}








  </div>
  <!-- /Header -->














</body>

{% endblock content %}